{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }} d-flex align-items-center mt-1" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
