{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for comment in comments %}
            <li>
                <h1>Comentario {{ comment.id }} dice: {{ comment.body }}</h1>
            </li>
        {% endfor %}
    </ul>
{% endblock %}