{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar un post</h1>
    {#  form(form, ['post']) #}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    {{ form(form) }}
{% endblock %}
